{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}
{% block contact %}
<section id="home" class="main-contact parallax-section">
     <div class="overlay"></div>
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12">
                    <h1>Contact Us</h1>
               </div>

          </div>
     </div>
</section>

<!-- Contact Section -->

<section id="contact">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    
                    <form action="" method="post" >
                    {% csrf_token %}
                         <div class="col-md-4 col-sm-4">
                             {% render_field form.name class='form-control' row='3' placeholder=form.name.label %}
                         </div>
                         <div class="col-md-4 col-sm-4">
                              {% render_field form.email class='form-control' row='3' placeholder=form.email.label %}
                      	 </div>
                         <div class="col-md-4 col-sm-4">
                              {% render_field form.subject class='form-control' row='3' placeholder=form.subject.label %}
                      	 </div>
                         <div class="col-md-12 col-sm-12">
                              {% render_field form.message class='form-control' row='3' placeholder=form.message.label %}
                         </div>
                         <div class="col-md-3 col-sm-6">
                              <input name="submit" type="submit" class="form-control" id="submit" value="Send">
                         </div>
                    </form>
               </div>

          </div>
     </div>
</section>

{% endblock contact %}